<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            {{#translate}}emailAlreadyRegistered{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}emailAlreadyRegistered-1{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}mistakeEmailDelete1{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}ifModifySubscription{{/translate}}
            <a href="{{preferencesUrl}}">{{#translate}}manageYourPreferences{{/translate}}</a> or <a href="{{unsubscribeUrl}}">unsubscribe here</a>.
        </mj-text>
        <mj-button mj-class="button" href="{{homepage}}">
            {{#translate}}returnToOutWebsite{{/translate}}
        </mj-button>
        <mj-text mj-class="p">
            For questions about this list, please contact:
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
