<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            {{#translate}}emailAddressAlreadyRegistered{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}weHaveReceivedASubscriptionRequestYour{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}mistakeEmailDelete1{{/translate}}
        </mj-text>
        <mj-text mj-class="p">
            {{#translate}}ifYouWantToModifyYourSubscriptionThenYou{{/translate}}
            <a href="{{preferencesUrl}}">{{#translate}}manageYourPreferences{{/translate}}</a> or <a href="{{unsubscribeUrl}}">unsubscribe here</a>.
        </mj-text>
        <mj-button mj-class="button" href="{{homepage}}">
            {{#translate}}returnToOurWebsite{{/translate}}
        </mj-button>
        <mj-text mj-class="p">
            For questions about this list, please contact:
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
